@import "../../styles/Variables.scss";
.banner {
  width: 100%;
  background-image: url(../../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 308px;

  &__container {
    width: 250px;
    height: 268px;
    margin: auto;
    padding-top: 70px;
  }

  &__title {
    font-size: 24px;
    letter-spacing: 3.5px;
    color: $yellow;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    letter-spacing: 0.6px;
    color: $main-color;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    width: 64%;
    height: 708px;
    &__title {
      text-align: right;
    }

    &__text {
      text-align: right;
    }
    &__container {
      width: 300px;
      height: 268px;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-top: 152px;
      margin-right: 16px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    width: 64%;
    height: 708px;

    &__title {
      font-size: 50px;
      margin-bottom: 44px;
      text-align: right;
    }

    &__text {
      font-size: 30px;
      text-align: right;
    }

    &__container {
      width: 554px;
      height: 268px;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-top: 192px;
      margin-right: 32px;
    }
  }
}
@media screen and (min-width: 1440px) {
  .banner {
    height: 908px;
  }
}
