.popUp__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.popUp__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 140px;
  width: 280px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 20px #3b494a52;
}

@media screen and (min-width: 768px) {
  .popUp__content {
    width: 510px;
  }
}
